<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JNU Cafeteria</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/home.css" rel="stylesheet">

  <style>
    img{
      width: auto;
      height: 200px;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cafeteria Community</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">밥먹자</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">백두관 식당 (신관)</a>
          <a href="/list/menu" class="list-group-item"> 메뉴 리스트 </a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/21879380_491319021266708_819948611591733248_n.jpg?_nc_ht=scontent-ort2-1.cdninstagram.com&_nc_cat=108&_nc_ohc=7jQOUwrMmdYAX9KfwRx&oh=94c2e8e35cb12b3e31131e20de4615fb&oe=5F1D2519" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="regular_meal">정식</button>
                </h4>
                <h5>3,500원</h5>
                <p class="card-text"> 운영시간 : 10:00 - 15:00 </p>
              </div>
              <div class="card-footer">
                <small class="text-muted regular_meal"></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://scontent-ort2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.809.809a/s640x640/22580692_2022021108073192_2890191026574589952_n.jpg?_nc_ht=scontent-ort2-1.cdninstagram.com&_nc_cat=104&_nc_ohc=p2aOaQ1AxDsAX_NeChN&oh=413ca9c66313800d283f626db7cb692d&oe=5F1D1AA7" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="special_meal">특식</button>
                </h4>
                <h5>4,500원</h5>
                <p class="card-text">운영시간 : 11:00 - 14:30 </p>
              </div>
              <div class="card-footer">
                <small class="text-muted special_meal"></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://cdn.univcoop.kr/univcoop/1557302253.901028.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="western_meal">양식</button>
                </h4>
                <h5>5,000원</h5>
                <p class="card-text">운영시간 : 11:00 - 15:00</p>
              </div>
              <div class="card-footer">
                <small class="text-muted western_meal"></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://jejucoop.or.kr/sweb/ezboard/table/root/board07/updir//14424082435.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="chinese_meal">중식</button>
                </h4>
                <h5>4,500원</h5>
                <p class="card-text">운영시간 : 11:00 - 15:00</p>
              </div>
              <div class="card-footer">
                <small class="text-muted chinese_meal"></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://image.fmkorea.com/files/attach/new/20160414/3655304/82221/353271725/e530102c6e8dc647f74865128f4fb7b5.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="regular_meal_dinner">정식 저녁</button>
                </h4>
                <h5>3,000원</h5>
                <p class="card-text">운영시간 : 16:00 - 18:00</p>
              </div>
              <div class="card-footer">
                <small class="text-muted regular_meal_dinner"></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/09/23/08/11/if-the-953110_1280.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <button class="section" id="ramen">라면</button>
                </h4>
                <h5>1,500원</h5>
                <p class="card-text">운영시간 : 8:50 - 15:00 <br> 운영안함 : 11:00 - 14:00 </p>
              </div>
              <div class="card-footer">
                <small class="text-muted ramen"></small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Cafeteria Review</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<script>
  let now,year,month,date,week,dayOfWeek,sum;
  let checkUpdate = 1;
  let checkInit  = 0;
  function setDay(){
    now = new Date();
    year = now.getFullYear();
    month = now.getMonth() + 1;
    date = now.getDate();
    if((month + "").length < 2){
      month = "0" + month;
    }
    week = new Array('일', '월', '화', '수', '목', '금', '토');
    dayOfWeek = week[new Date(year+'-'+month+'-'+date).getDay()];
  }

  window.onload = function () {
    setDay();
    if(dayOfWeek == '월' && checkUpdate == 1) {
      $.ajax({
        url: "/menu/data",
        type: "GET"
      });
      checkUpdate -= 1;
      checkInit = 1;
    }else if(dayOfWeek != "월" && checkInit == 1){
        checkUpdate = 1;
        checkInit += 1;
    }

    setStars();
  };

  $(document).on("click", ".section", function(){
    let section = $(this).attr("id");
    document.location.href = "/"+section;
  });

  function setStars() {
    let avgStar = {};
    $.each($(".section"),function(idx,section){
      $.ajax({
        url:"review/star/"+section.id,
        type:"GET",
        success: function (res) {
          sum = 0;
          for(let i=0; i<res.length; i++){
            sum += res[i]
          }
          avgStar[section.id] = sum/res.length;
          if(isNaN(avgStar[section.id])){
            $("."+section.id).html("아직 리뷰가 없어요ㅠ");
          }else{
            for(let i=0; i<parseInt(avgStar[section.id]); i++){
              $("."+section.id).append("&#9733;");
            }
            for(let i=0; i<5-parseInt(avgStar[section.id]); i++){
              $("."+section.id).append("&#9734;");
            }
          }
        }
      });
    });
  }

</script>

</html>
