<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cafeteria Review</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/home.css" rel="stylesheet">

  <style>
    .star a{
      text-decoration: none;
      color: gray;
    }
    .star a.on{
      color: red;
    }
  </style>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Cafeteria Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4" id="mainTitle">
      </h1>
      <!-- Blog Post -->
      <div class="reviews" >
        <!--   리뷰내역출력들     -->
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <button class="page-link pre" href="#"> &larr;  Newer </button>
        </li>
        <li class="page-item">
          <button class="page-link next" href="#"> Older  &rarr;</button>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <button class="menu" onclick="menuList()"> 메뉴 리스트 </button>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">후기작성</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <button id="goPost"> 기릿 </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Today's Menu</h5>
        <div class="card-body today_menu">
          <!--    오늘의 메뉴 표시      -->
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Cafeteria Review</p>
  </div>
  <!-- /.container -->
</footer>


<div class="modal fade" id="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h4 class="modal-title">후기작성</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="addModalReset()">×</button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td> 제목 </td>
            <td><input type="text" class="form-control addTitle"  /></td>
          </tr>
          <tr>
            <td> 상세 후기 </td>
            <td><textarea class="form-control addContent" rows="10" cols="20"></textarea></td>
          </tr>
          <tr>
            <td> 맛 평가 </td>
            <td>
              <p class="star">
                <a href="#" value="0"></a>
                <a href="#" value="1">★</a>
                <a href="#" value="2">★</a>
                <a href="#" value="3">★</a>
                <a href="#" value="4">★</a>
                <a href="#" value="5">★</a>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <input type="text" class="form-text password" placeholder="password"/>
        <button class="btn-success confirm" onclick="add()"> 작성완료 </button>
        <button class="btn btn-default" data-dismiss="modal" onclick="addModalReset()"> 작성 취소 </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <h4 class="modal-title">후기작성</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="editModalReset())">×</button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td> 제목 </td>
            <td><input type="text" class="form-control editTitle"/></td>
          </tr>
          <tr>
            <td> 상세 후기 </td>
            <td><textarea class="form-control editContent" rows="10" cols="20" ></textarea></td>
          </tr>
          <tr>
            <td> 맛 평가 </td>
            <td>
              <p class="star">
                <a href="#" value="0" id="0"></a>
                <a href="#" value="1" id="1">★</a>
                <a href="#" value="2" id="2">★</a>
                <a href="#" value="3" id="3">★</a>
                <a href="#" value="4" id="4">★</a>
                <a href="#" value="5" id="5">★</a>
              </p>
            </td>
          </tr>

        </table>
      </div>
      <div class="modal-footer">
        <input type="text" class="form-text editPassword" placeholder="password"/>
        <button class="btn-success editConfirm" type="submit"> 수정완료 </button>
        <button class="btn btn-default cancel" data-dismiss="modal" onclick="editModalReset()"> 작성 취소 </button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  let section,tempStar;
  let startAdd = 0;
  let endAdd = 0 ;

  window.onload = function() {
    tempStar = 0;
    let splitURL = $(location).attr('pathname').split('/');
    section = splitURL[1];

    let division = {
      "regular_meal": "정식",
      "special_meal": "특식",
      "western_meal": "양식",
      "chinese_meal": "중식",
      "regular_meal_dinner": "정식저녁",
      "ramen": "라면"
    };

    $('#mainTitle').html(division[section] + "리뷰");

    let now = new Date();
    let month = now.getMonth() + 1;
    let date = now.getDate();
    if ((month + "").length < 2) {
      month = "0" + month;
    }

    $.ajax({
      url: "/menu/" + month + "-" + date,
      type: "GET",
      success: function (res) {
        if (section == "ramen") {
          $(".today_menu").html("라면");
        } else {
          for (let i = 0; i < res.length; i++) {
            if (section == "regular_meal_dinner") {
              $(".today_menu").html(res[i]["dinner"].replace(/ /g, "<br>"));
              break;
            } else if (res[i]["division"] == division[section]) {
              $(".today_menu").html(res[i]["lunch"].replace(/ /g, "<br>"));
              break;
            }
          }
        }
      }
    });
  showReviews();
  };

  function menuList() {
    window.location.href="/list/"+section;
  }

  $('.star a').click(function(){
    $(this).parent().children("a").removeClass("on");
    $(this).addClass("on").prevAll("a").addClass("on");
    tempStar = $(this).attr("value");
  });

  $("#goPost").click(function(){
    $('#addModal').modal();
  });

  $(".editConfirm").click(function (e) {
    edit(e.target.id,$(".editPassword").val());
  });

  $('.pre').click(function () {
    startAdd += 5;
    endAdd += 5;
    $('.reviews').empty();
    showReviews();
  });

  $('.next').click(function () {
    startAdd -= 5;
    endAdd -= 5;
    $('.reviews').empty();
    showReviews();
  });

  function message(response){
    if(response){
      alert("성공");
      document.location.reload();
    }else{
      alert("비밀번호를 확인해주세요")
    }
  }

  function addModalReset() {
    $(".addTitle").val("");
    $(".addContent").val("");
    $(".password").val("");
    $(".password").attr('placeholder','password');
    $(".star a").parent().children("a").removeClass("on");
    tempStar = 0
  }

  function editModalReset() {
    $(".editPassword").val("");
    $(".editPassword").attr('placeholder','password');
  }
  function showReviews(){
    $.ajax({
      url: "/review/"+section,
      type: "GET",
      success: function(res) {
        let start = res.length - 5;
        let end = res.length;

        start += startAdd;
        end += endAdd;

        if(start < 1) {
          start = 0;
          $('.next').prop('disabled', true)
        }else{
          $('.next').prop('disabled', false)
        }
        if(end >= res.length) {
          end = res.length;
          $('.pre').prop('disabled', true)
        }else{
          $('.pre').prop('disabled', false)
        }

        $.each(res.slice(start,end), function (idx, item) {
          let id = item['id'];
          let title = item['title'];
          let content = item['content'];
          let date = item['date'];
          let star = item['star'];
          $(".reviews").prepend(`
          <div class="card mb-4" >
            <div class="card-body">
              <h2 class="card-title title">${title}</h2>
              <p class="card-text content">${content}</p>
              <p class="card-text" id="star${id}"></p>
            </div>
            <div class="card-footer text-muted">${date}
            <input class="form-text delPassword" id=${id} placeholder="password" />
              <div class="btn_contain" style="position: absolute; right: 2%; bottom: 3%">
                  <button class="btn btn-primary delBtn" id=${id}> 삭제 </button>
                  <button class="btn btn-primary editBtn" id=${id}> 수정 </button>
              </div>
            </div>
          </div>
          `);

          for (let i = 0; i < star; i++) {
            $("#star" + id).append("&#9733;");
          }
          for (let i = 0; i < 5 - star; i++) {
            $("#star" + id).append("&#9734;");
          }

          $(".editBtn").click(function (e) {
            id = e.target.id;
            $('.editConfirm').attr("id", id);
            $('#editModal').modal();
            $.ajax({
              url: "/review/edit/" + e.target.id,
              type: "GET",
              success: function (res) {
                title = $('.editTitle').val(res["title"]);
                id = title.attr('id', e.target.id);
                content = $('.editContent').val(res["content"]);
                tempStar = res['star'];
                if (tempStar != 0) {
                  $('#editModal #' + tempStar).parent().children("a").removeClass("on");
                  $('#editModal #' + tempStar).addClass("on").prevAll("a").addClass("on");
                } else {
                  $('#editModal #0').parent().children("a").removeClass("on");
                }
              }
            })
          });

          $(".delBtn").click(function (e) {
            del(e.target.id,$(".delPassword").val());
          })
        });
      }
    });
  }

  async function add() {
    let title = $(".addTitle").val();
    let content = $(".addContent").val();
    let password = $(".password").val();
    let star = tempStar;

    if(!password){
      alert("비밀번호를 입력해주세요.");
    }else {
      let res = await fetch('review' , {
        method: 'post',
        headers: {
          'Content-Type' : 'application/json',
          'Charset' : 'UTF-8'
        },
        body: JSON.stringify({
          title,
          content,
          section,
          password,
          star
        })
      });
      if(res.ok) {
        document.location.reload();
      }
    }
  }

  function del(id,pw) {
      fetch('review/del' , {
        method: 'post',
        headers: {
          'Content-Type' : 'application/json',
          'Charset' : 'UTF-8'
        },
        body: JSON.stringify({
          "id" : parseInt(id),
          "password" : pw
        })
      }).then(res => res.json())
        .then(response => message(response))
        .catch(e => console.error(e))
  }

  function edit(id,pw) {
    fetch('review/edit' , {
      method: 'POST',
      headers: {
        'Content-Type' : 'application/json',
        'Charset' : 'UTF-8'
      },
      body: JSON.stringify({
        "id" : parseInt(id),
        "password" : pw,
        "section" : section,
        "title" : $(".editTitle").val(),
        "content" : $(".editContent").val(),
        "star" : tempStar
      })
    }).then(res => res.json())
      .then(response => message(response))
      .catch(e => console.error(e))
  }

</script>
</body>

</html>
